.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.text {
    margin-top: 1em;
    color: white;
    font-size: 2em;
    border-bottom: 2px solid #ece1fa;
    padding-bottom: 0.2em;
}