.posts {
    list-style: none;
    max-width: 50rem;
    margin: 1rem auto;
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.addNewPostButton {
    outline: none;
    border: 2px black solid;
    border-radius: 1em;
    background-color: #a990fb;
    color: #2a2630;
    align-self: center;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.addNewPostButton:hover {
    background-color: #8c6cf7;
    color: #ffffff;
    border-color: lightgreen;
}

.noPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}