.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 1em;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.light {
    border: 5px solid black;
    background-color: white;
    color: black;
}

.dark {
    border: 5px solid white;
    background-color: #121212;
    color: white;
}

button {
    margin-top: 20px;
    font-size: 1.2em;
    border-radius: 0.3em;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    cursor: pointer;
    padding: 0.2em 2em;
    outline: none;
}

button.light {
    background-color: white;
    color: black;
    border: 2px solid black;
}

button.dark {
    background-color: #121212;
    color: white;
    border: 2px solid white;
}

